<a href="https://colab.research.google.com/github/survenida/Python/blob/main/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1: What are data structures, and why are they important?

Answer: Data structures organize and manage data efficiently. They help in storing, accessing, and processing data quickly.


Question 2: Explain the difference between mutable and immutable data types with examples

Answer:  
Mutable: Can be changed (e.g., `list`, `dict`)  
Immutable: Cannot be changed (e.g., `tuple`, `string`)


Question 3: What are the main differences between lists and tuples in Python  

Answer: Lists are mutable and slower; tuples are immutable and faster. Lists use more memory.


Question 4: Describe how dictionaries store data.

Answer: Dictionaries store data as key-value pairs using a hash table for fast access.


Question 5: Why might you use a set instead of a list in Python?

Answer: Sets remove duplicates automatically and offer faster membership checks.


Question 6: What is a string in Python, and how is it different from a list?

Answer: A string is a sequence of characters and is immutable. A list can hold different data types and is mutable.


Question 7: How do tuples ensure data integrity in Python?  

Answer: Tuples are immutable, so their values can't be changed accidentally.


Question 8: What is a hash table, and how does it relate to dictionaries in Python?

Answer: A hash table maps keys to values using a hash function. Python dictionaries use hash tables internally.


Question 9: Can lists contain different data types in Python?

Answer: Yes, lists can hold mixed data types like numbers, strings, and other lists.


Question 10: Explain why strings are immutable in Python?  

Answer: Strings are immutable to ensure consistency, security, and memory efficiency.


Question 11: What advantages do dictionaries offer over lists for certain tasks?  

Answer: Dictionaries allow fast access using keys and are better for storing structured data.


Question 12: How do sets handle duplicate values in Python?  

Answer: Sets automatically remove duplicates—each element is unique.


Question 13: Describe a scenario where using a tuple would be preferable over a list.  

Answer: When storing fixed data like coordinates `(x, y)` or constant values that shouldn't change.


Question 14: How does the “in” keyword work differently for lists and dictionaries?

Answer:  
In lists: checks if a value exists  
In dictionaries: checks if a key exists


Question 15: Can you modify the elements of a tuple? Explain why or why not?

Answer: No, because tuples are immutable and cannot be changed after creation.


Question 16: What is a nested dictionary, and give an example of its use case?  

Answer: A dictionary inside another dictionary.  
Example: `student = {"name": "Nida", "marks": {"math": 90, "science": 85}}`


Question 17: Describe the time complexity of accessing elements in a dictionary.

Answer: Accessing elements in a dictionary is usually O(1) (constant time).


Question 18: In what situations are lists preferred over dictionaries?

Answer: When order matters or when storing simple sequences without key-value pairs.


Question 19: Why are dictionaries considered unordered, and how does that affect data retrieval?  

Answer: Dictionaries don’t maintain order by default, so you access data by key, not position.


Question 20: Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:  
List: access by index  
Dictionary: access by key

In [ ]:
#Question 1
#Write a code to create a string with your name and print it.

First_name = "Nida"
Middle_name = "Smair"
Last_name = "Surve"
print(First_name,Middle_name,Last_name)

Nida Smair Surve

In [ ]:
#Question 2
#Write a code to find the length of the string "Hello World"

given_text = "Hello World"
length_of_the_text = len(given_text)
print(length_of_the_text)

11

In [ ]:
#Question 3
#Write a code to slice the first 3 characters from the string "Python Programming"

given_text = "Python Programming"
sliced_text = given_text[:3]
print(sliced_text)

Pyt

In [ ]:
#Question 4
#Write a code to convert the string "hello" to uppercase

given_text = "hello"
uppercase_text = given_text.upper()
print(uppercase_text)

HELLO

In [ ]:
#Question 5
#Write a code to replace the word "apple" with "orange" in the string "I like apple".

given_text = "I like apple"
replaced_text = given_text.replace("apple", "orange")
print(replaced_text)

I like orange

In [ ]:
#Question 6
#Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#Question 7
#Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#Question 8
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#Question 9
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
#Question 10
#Write a code to reverse the list [10, 20, 30, 40, 50]

my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

your_list = [10,20,30,40,50]
reverse_your_list = your_list[::-1]
print(reverse_your_list)

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [1]:
#Question 11
#Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [2]:
#Question 12
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [3]:
#Question 13
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [4]:
#Question 14
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [5]:
#Question 15
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

my_tuple = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in my_tuple
print(is_kiwi_in_tuple)

False

In [7]:
#Question 16
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [9]:
#Question 17
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [10]:
# Question 18
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [11]:
#Question 19
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [12]:
#Question 20
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [13]:
#Question 21
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Nida", "age": 22, "city": "Kathmandu"}
print(my_dict)

{'name': 'Nida', 'age': 22, 'city': 'Kathmandu'}

In [14]:
#Question 22
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [15]:
#Qyestion 23
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [16]:
#Question 24
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [17]:
#Question 25
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in person
print(city_exists)

True

In [20]:
#Question 26
#Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2, 'c': 3}

In [21]:
#Question 27
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[15, 27, 35, 44, 90]

In [23]:
#Question 28
# Write a code to create a list with strings and print the element at the third index.

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
third_element = my_list[3]
print(third_element)

date

In [26]:
#Question 29
# Write a code to combine two dictionaries into one and print the result.

my_dict1 = {'a': 1, 'b': 2}
my_dict2 = {'c': 3, 'd': 4}
combined = {**my_dict1, **my_dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [27]:
#Question 30
# Write a code to convert a list of strings into a set.

my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
my_set = set(my_list)
print(my_set)
#

{'apple', 'banana', 'cherry'}